@model IEnumerable<ShoppingListDemo.Data.ShoppingItem>

@{
    ViewData["Title"] = "Списък с продукти";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Създаване на продукт</a>
</p>

<table class="table">
    <tbody>
        @foreach (var ((categoryId, categoryName), products) in Model
            .OrderBy(x => x.ShoppingCategory!.Order)
            .GroupBy(x => new Tuple<int, string>(x.ShoppingCategory!.Id, x.ShoppingCategory!.Name))
            .ToDictionary(
                x => x.Key, 
                x => x.ToList()
            )
        )
        {
            <tr class="table-active">
                <td>Категория '@categoryName'</td>
                <td class="text-end"><a asp-action="Create" asp-route-shoppingCategoryId="@categoryId">Създай продукт към категорията</a></td>
            </tr>

            foreach (var product in products)
            {
                <tr>
                    <td class="ps-4">- @product.Name</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@product.Id">Редакция</a> |
                        <a asp-action="Details" asp-route-id="@product.Id">Преглед</a> |
                        <a asp-action="Delete" asp-route-id="@product.Id">Изтриване</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>