@model ShoppingListDemo.Data.ShoppingCategory

@{
    ViewData["Title"] = "Изтриване на категория";
}

<h1>@ViewData["Title"]</h1>
<h4>Сигурни ли сте, че искате да изтриете избраната категория, <strong>всички продукти (@Model.ShoppingItems.Count) от нея също ще бъдат изтрити</strong>?</h4>

<div class="pt-4">
    <h4>Категория</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>
                Включени продукти
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model.ShoppingItems.Any())
        {
            foreach (var item in Model.ShoppingItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    За категорията няма записани продукти.
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Назад към Списък</a>
    </form>
</div>
